/*
WINDOWS LIKE MENU © 2023
Desenvolvido por Reynolds Costa, no Notepad++

O uso é permitido; a comercialização, proibida.
*/

body {
	padding:0;
	margin:0;
	background:#f1eeee;
	cursor:default;
	user-select:none
}

div.bloco {
	padding:20px;
	background:#fff;
	box-shadow:0px 2px 38px 13px rgba(0,0,0,0.22);
	font-family:Tahoma;
	font-size:14px;
	text-align:justify
}

div.bloco h1 {
	font-size:24px;
	margin-top:5px
}

.cod {
	font-family:Lucida Console
}

.nota {
	font-size:12px
}

.rev {
	font-size:16px
}

a.lnk, span.tag {
	color:#00f
}

a.lnk {
	text-decoration:none
}

a.lnk:hover {
	text-decoration:underline
}

.arq {
	font-weight:bold
}

span.atr {
	color:#f00
}

span.cls {
	color:#a92
}

span.var {
	color:#311
}

span.op {
	color:#054
}

span.fun {
	color:#e41
}

span.fatr {
	color:#176
}

span.txt {
	color:#655
}

span.bool {
	color:#2ae
}

ul.reservadas {
	padding:0;
	margin:0
}

ul.reservadas > li {
	margin:0 20px 20px 0;
	display:inline-block;
	text-align:left;
	vertical-align:top
}