/*
WINDOWS LIKE MENU © 2023
Desenvolvido por Reynolds Costa, no Notepad++

O uso é permitido; a comercialização, proibida.
*/

body {
	padding:0;
	margin:0;
	background-color:rgb(241,237,237);
	cursor:default;
	user-select:none
}

div.bloco {
	padding:20px;
	background-color:FFF;
	box-shadow:0px 2px 38px 13px rgba(0,0,0,0.22);
	font-family:Tahoma;
	font-size:14px;
	text-align:justify
}

div.bloco h1 {
	font-size:24px;
	margin-top:5px
}

.cod {
	font-family:Lucida Console
}

.nota {
	font-size:12px
}

.rev {
	font-size:16px
}

a.lnk, span.tag {
	color:#00F
}

a.lnk {
	text-decoration:none
}

a.lnk:hover {
	text-decoration:underline
}

.arq {
	font-weight:bold
}

span.atr {
	color:#F00
}

span.cls {
	color:rgb(176,157,28)
}

ul.reservadas {
	padding:0;
	margin:0
}

ul.reservadas > li {
	margin:0 20px 20px 0;
	display:inline-block;
	text-align:left;
	vertical-align:top
}